---
---


@font-face {
    font-family: "League Gothic";  
    src: url("{{ site.baseurl }}/fonts/leaguegothic.woff") format('woff');
}

@font-face {
    font-family: "League Spartan";
    src: url("{{ site.baseurl }}/fonts/leaguespartan.woff") format('woff');
}


/* heading font intercept */

h1, h2, h3, h4, h5, h6 {
    font-family: "League Spartan";
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

/* top-of-page image block */
.hero-outer {
    background-size: cover;
    min-height: 12rem;
    margin-bottom: 1.25rem;
    background-position: center;
    height: 40vh;
}

/* wrapper to allow absolute positioning */
.hero-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

/* caption in the corner */
.hero-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1em;
    color: white;
    font-size: 4em;
    font-family: "League Spartan";
    text-shadow: 4px 4px 0px black;

}

.hero-footnote {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4em;
    color: white;
    text-shadow: 1px 1px 0px black;
    font-style: italic;
}

.hero-footnote a {
    color: white;
}

/* maul the top bar widget so as to be unrecognisable.
   better yet, make it transparent, pinned to the top,
   and with a weird diamond tread stipple pattern */

$top-bar-height: 136px;

.top-bar {
    position: fixed;
    height: $top-bar-height;
    width: 100%;
    padding: 0.5rem 2.0rem;
    background-repeat: repeat-x; 
    background-image: url("{{ site.baseurl }}/images/menu_texture.svg");
    background-color: transparent;
    pointer-events: none;
    z-index: 10;
}

.top-bar ul {
    background: transparent;
}

/* remove padding on left */
.top-bar-left.menu > li:not(.menu-text) > a {
    padding: 0;
}

/* make text padding chunkier on right */
@media screen and (min-width: 40em) {
    .top-bar-right.menu > li:not(.menu-text) > a {
        padding: $top-bar-height/4 $top-bar-height/8;
    }
}

@media screen and (min-width: 64em) {
    .top-bar-right.menu > li:not(.menu-text) > a {
        padding: $top-bar-height/4;
    }
}


.top-bar ul li > a {
    font-size: 1.2em;
    font-family: "League Spartan";
    text-shadow: 1px 1px 0px black;
    color: #ffffff;
    background: transparent;
    pointer-events: auto;
    transition: color .25s ease-in-out;
}

/* add pretty colours to the topbar links */
a:hover.link-purple, a.current.link-purple {
    color: #ad7fa8;
}

a:hover.link-cyan, a.current.link-cyan {
    color: #72c1cf;
}

a:hover.link-blue, a.current.link-blue {
    color: #729fcf;
}

a:hover.link-green, a.current.link-green {
    color: #8ae234;
}

a:hover.link-yellow, a.current.link-yellow {
    color: #fce94f;
}

a:hover.link-orange, a.current.link-orange {
    color: #fcaf3e;
}

a:hover.link-red, a.current.link-red {
    color: #ef2929;
}


/* highlight panes */
.highlight {
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1.25rem;
}

/* center images */
.content img {
    display: block;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

/* used for large photos which can be letterboxed */
.letterbox {
    object-fit: cover;
    max-height: 40vh;
    width: 100%;
    border-radius: 4px;
}

/* input widget styling? this got removed from foundation 6 */
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* manual bodge for footer */
.footer {
    background-color: #222;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer p {
    font-family: "League Gothic";
    font-size: 1.7em;
    text-shadow: 1px 1px 0px black;
    margin: 0;
}

.footer p a {
    color: white;
    transition: color .25s ease-in-out;
}

.footer-copy {
    display: inline-block;
}

.footer-abn {
    display: inline-block;
    font-size: 80%;
}

/* stick footer to the bottom of the page using the CSS flexbox element */
html, body {
    height: 100%;
}

.off-canvas-wrap, .inner-wrap {
    height: 100%;
    overflow: visible;
}

.inner-wrap {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: none;
}

/* fixes to make printing look nice */
@media print {
    html, body {
        height: inherit;
    }

    .main {
        flex: inherit;
    }

    .inner-wrap {
        display: inherit;
    }

    .top-bar {
        display: none;
    }

    .tab-bar section {
        border: 0;
    }
}

