---
---

/* cloak vue */

[v-cloak] {
    display: none;
}


@font-face {
    font-family: "League Gothic";  
    src: url("{{ site.baseurl }}/fonts/leaguegothic.woff") format('woff');
}

@font-face {
    font-family: "League Spartan";
    src: url("{{ site.baseurl }}/fonts/leaguespartan.woff") format('woff');
}


/* heading font intercept */

h1, h2, h3, h4, h5, h6 {
    font-family: "League Spartan";
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

/* maul the top bar widget so as to be unrecognisable.
   better yet, make it transparent, pinned to the top,
   and with a weird diamond tread stipple pattern */

$top-bar-height: 136px;

.top-bar {
    position: fixed;
    height: $top-bar-height;
    width: 100%;
    padding: 0.5rem 2.0rem;
    background-repeat: repeat-x; 
    background-image: url("{{ site.baseurl }}/images/menu_texture.svg");
    background-color: transparent;
    pointer-events: none;
    z-index: 10;
}

.top-bar ul {
    background: transparent;
}

/* styling for the logo button */
.logo {
    height: 100px;
    min-width: 100px;
    width: auto;
}

/* remove padding on left of top-bar */
.top-bar-left.menu > li:not(.menu-text) > a {
    padding: 0;
}

/* make text padding chunkier on right */
@media screen and (min-width: 40em) {
    .top-bar-right.menu > li:not(.menu-text) > a {
        padding: $top-bar-height/4 $top-bar-height/8;
    }
}

@media screen and (min-width: 64em) {
    .top-bar-right.menu > li:not(.menu-text) > a {
        padding: $top-bar-height/4;
    }
}

/* change top-bar/side menu fonts to Spartan */
.top-bar ul li > a, .off-canvas ul li > a {
    font-size: 1.2em;
    font-family: "League Spartan";
    text-shadow: 1px 1px 0px black;
    color: #ffffff;
    background: transparent;
    pointer-events: auto;
    transition: color .25s ease-in-out;
}

/* unbunch side menu from the top */
.off-canvas ul {
    margin-top: 2em;
}

/* add pretty colours to the topbar links */
a:hover.link-purple, a.current.link-purple {
    color: #ad7fa8;
}

a:hover.link-cyan, a.current.link-cyan {
    color: #72c1cf;
}

a:hover.link-blue, a.current.link-blue {
    color: #729fcf;
}

a:hover.link-green, a.current.link-green {
    color: #8ae234;
}

a:hover.link-yellow, a.current.link-yellow {
    color: #fce94f;
}

a:hover.link-orange, a.current.link-orange {
    color: #fcaf3e;
}

a:hover.link-red, a.current.link-red {
    color: #ef2929;
}


/* highlight panes */
.highlight {
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 1.25rem;
}

/* center images */
.content img {
    display: block;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

/* used for large photos which can be letterboxed */
.letterbox {
    object-fit: cover;
    max-height: 40vh;
    width: 100%;
    border-radius: 4px;
}

/* input widget styling? this got removed from foundation 6 */
[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* manual bodge for footer */
.footer {
    background-color: #222;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer p {
    font-family: "League Gothic";
    font-size: 1.7em;
    text-shadow: 1px 1px 0px black;
    margin: 0;
}

.footer p a {
    color: white;
    transition: color .25s ease-in-out;
}

.footer-copy {
    display: inline-block;
}

.footer-abn {
    display: inline-block;
    font-size: 80%;
}

/* stick footer to the bottom of the page using the CSS flexbox element */
html, body, .off-canvas-wrapper, .off-canvas-wrapper-inner {
    height: 100%;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
}

/* fullsize background image with white content bg */

.main {
    flex: 1 0 auto;
    background-size: cover;
    background-position: center;
}

.row.content {
    background-color: #fff;
    margin-top: 10rem;
    padding-top: 2rem;
}

.footer {
    flex: none;
}

/* fix top-bar flexbox elements on mobile */

.top-bar .top-bar-left, .top-bar .top-bar-right {
    flex: 1 1 0px;
}

/* set off-canvas background to be a darker colour */

.off-canvas-wrapper {
    background-color: rgb(66, 79, 90);
}

.off-canvas {
    background-color: transparent;
}

.off-canvas-content {
    background-color: white;
}

/* fixes to make printing look nice */
@media print {
    /* remove global height */
    html, body, .off-canvas-wrapper, .off-canvas-wrapper-inner {
        height: inherit;
    }

    /* add page margin */
    @page {
        margin: 10mm 10mm 20mm 10mm;
    }

    /* disable flexbox on a bunch of stuff */
    .hero-outer {
        display: none;
    }

    .off-canvas-content {
        display: inherit;
    }

    .row {
        display: inherit;
    }

    .main {
        flex: inherit;
    }

    /* hide top bar */
    .top-bar {
        display: none;
    }

    .tab-bar section {
        border: 0;
    }
}

